main {
  /* border: 3px solid red; */
  padding: 10px;
}
section {
  padding: 10px;
  margin-bottom: 40px;
}
/* error message */

#warning {
  border: 3px solid red;
  color: red;
  padding: 20px;
  text-align: center;
  font-size: 40px;
  display: none;
}
/* compse tweet area */
.new-tweet {
  display: block;
}

.tweet-form {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
  margin: 15px 0px;
}
#tweet-text {
  width: 100%;
  background: transparent;
  color: black;
  border: 0 none;
  outline: none;
  resize: none;
  font-weight: 600;
}
.tweet-logo {
  background-color: #4056a1;
  color: #ffffff;
}
.tweet-logo:hover {
  background: #3b539f;
  border: 5px solid #6f90f9;
}
.count-color {
  color: red;
}
.tweet-submit {
  background-color: #192343;
  color: #919191;
}

/* display tweet area */
.tweet-container {
  margin-bottom: 40px;
  border: 2px solid black;
  padding: 20px 25px 0px;
  overflow: auto;
  width: 100%;
}

article:hover {
  box-shadow: 8px 8px 3px #c9cae2;
}
/* tweet display header */
.name {
  display: flex;
}
.name p {
  padding-left: 15px;
}

.username {
  color: #c3c3e3;
  font-weight: 600;
}
article header {
  display: flex;
  justify-content: space-between;
}
/* tweet display body */
.tweet-content {
  font-weight: 600;
  word-wrap: break-word;
  word-break: break-all;
}

/* tweet display footer */
article footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  font-size: 20px;
}
.tweet-icons {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  color: #4056a1;
  font-size: 18px;
}
.tweet-icons :hover {
  color: #d89b2a;
}
.tweet-icons li {
  margin: 0px 10px;
}

/* media queries */
@media only screen and (max-width: 454px) {
  .tweet-container header {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
  }
  #body-header {
    width: 30%;
    margin: 15rem 1rem 0 1rem;
    position: relative;
    margin-left: 5rem;
  }
  main {
    width: 60%;
    margin-top: 8rem;
    position: relative;
    padding-left: 8rem;
  }
}
