main {
  /* border: 3px solid red; */
  padding: 10px;
}
section {
  padding: 10px;
  margin-bottom: 40px;
}
.tweet-form {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
  margin: 15px 0px;
}
#tweet-text {
  width: 100%;
  background: transparent;
  color: black;
  border: 0 none;
  outline: none;
  resize: none;
  font-weight: 600;
}
.tweet-logo {
  background-color: #4056a1;
  color: #ffffff;
}
.count-color {
  color: red;
}
.tweet-submit {
  background-color: #192343;
  color: #919191;
}

.tweet-container {
  margin-bottom: 40px;
}

article:hover {
  box-shadow: 8px 8px 3px #c9cae2;
}
.name {
  display: flex;
}
.name p {
  padding-left: 15px;
}

.tweet-container {
  border: 2px solid black;
  padding: 20px 25px 0px;
}

.username {
  color: #c3c3e3;
  font-weight: 600;
}
article header {
  display: flex;
  justify-content: space-between;
}

.tweet-content {
  font-weight: 600;
}
article footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  font-size: 20px;
}
.tweet-icons {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  color: #4056a1;
  font-size: 18px;
}
.tweet-icons :hover {
  color: #d89b2a;
}
.tweet-icons li {
  margin: 0px 10px;
}
